<% if notice %>
<p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
<p class="alert alert-danger"><%= alert %></p>
<% end %>
<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2><%= @contract.title %></h2>
    <ol class="breadcrumb">
        <li>
            <a href="/"><%= t('home_label')%></a>
        </li>
        <li>
            <%= link_to t('contracts_label'), account_contracts_path(@account) %>
        </li>
        <li class="active">
            <strong><%= @contract.title %></strong>
        </li>
    </ol>
  </div>
</div>
<div class="row wrapper wrapper-content animated fadeInRight">
  <div class="col-lg-12">
    <div class="ibox">
      <div class="ibox-title">
        <h2><%= t('contracts.preview_label')%></h2>
      </div>
      <div class="ibox-content">
        <iframe id="preview-frame" src="<%= contract_preview_path(@contract) %>" frameborder="0"></iframe>
      </div>
    </div>
  </div>
</div>
