<div class="passwordBox animated fadeInDown">
    <div class="row">

        <div class="col-md-12">
            <div class="ibox-content">
            <h3 class="font-bold"><%= t('passwords.title')%></h3>
                <p><%= t('passwords.message') %></p>
                <div class="row">
                     <div>
                      <%= form_for(resource, as: resource_name, url: send("#{model_name}_user_password_path"), html: { method: :post }) do |f| %>
                          <div class="form-group">
                            <%= f.email_field :email, {class: "form-control", placeholder: "#{t(:email)}", required: "", autofocus: true} %>
                          </div>
                          <%= f.submit "#{t('passwords.button')}", class: "btn btn-primary block full-width m-b" %>
                      <% end %>
                    </div>
                </div>

                </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <sm=all>
            <%= t('passwords.message_spam') %>
        </small>
        </div>
    </div>
        <div class="row">
          <% if user_signed_in? %>
              <%= link_to(t(:logout), send("#{model_name}_destroy_user_session_path") , :method => :delete) %>
          <% else %>
              <%= link_to(t(:login), send("#{model_name}_new_user_session_path"))  %>
          <% end %>
</div>
</div>
