<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1 style="color: #000; font-size: 18px; font-weight: bold; margin: 0 0 10px;"><%= t('contract_label') %> : <%= @contract.title %></h1>
    <p style="color: #000; font-size: 14px; line-height: 1.4em; margin: 10px 0;">
      <span style="color: #8c8c8c;"><%= t('signer_notifier.send_email_request_signature.from')%> <%= @signer.contract.account.user.username %> (<%= @signer.contract.account.user.email %>)</span>
    </p>
    <hr style="background-color: #cccccc; border: medium none; color: #cccccc; height: 1px;">
    <p style="color: #000; font-size: 14px; line-height: 1.4em; margin: 10px 0;"><%= @contract.message %></p>
    <div style="margin:20px 0px 20px 0px;">
      <table>
        <tr>
          <td style="padding:9px 16px 9px 16px;font-size:16px;color:#F7FBFD;background:#0088CC;">
              <%= link_to contract_signer_url(@signer, :domain => ENV['PAPAYE_DOMAIN'], :subdomain => nil , :locale => I18n.locale), target: "_blank" do %>
                <span style="color:#F7FBFD;"><%= t('signer_notifier.send_email_request_signature.view_contract') %></span>
              <% end %>
          </td>
        </tr>
      </table>
    </div>
    <hr style="background-color: #cccccc; border: medium none; color: #cccccc; height: 1px;">
    <p style="color: #ff0000; font-size: 14px; line-height: 1.4em; margin: 10px 0;"><%= t('signer_notifier.warning')%></p>
  </body>
</html>
