<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1 style="color: #000; font-size: 18px; font-weight: bold; margin: 0 0 10px;"><%= @contract.title %></h1>
    <p style="color: #000; font-size: 14px; line-height: 1.4em; margin: 10px 0;">
      <span style="color: #8c8c8c;">From: <%= @owner.username %> (<%= @owner.email %>)</span>
    </p>  
    <hr style="background-color: #cccccc; border: medium none; color: #cccccc; height: 1px;">
    <p style="color: #000; font-size: 14px; line-height: 1.4em; margin: 10px 0;">
        <br>
        <%= "#{t('signer_notifier.send_pdf_signer.follow_link')}"%>
        <a href= "<%= @pdf_url%>"> <%= t('signer_notifier.download_pdf')%> </a>
    </p>
  </body>
</html>
