<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2><%= t('accounts.edititng_account')%></h2>
    <ol class="breadcrumb">
      <li>
        <%= link_to t('accounts_label'), "#" %>
      </li>
      <li class="active">
        <strong><%= t('settings_label') %></strong>
      </li>
    </ol>
  </div>
</div>
<div class="wrapper wrapper-content clearfix">
  <div class="col-lg-12">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <%= t('edit_user_label')%>
      </div>
      <div class="ibox-content">
        <%= t('settings_label') %>
      </div>
    </div>
  </div>
</div>
